:root{
    --color-primary: yellow;
    --color-primary-light: rgb(255, 255, 177);
    --color-primary-dark: rgb(173, 173, 0);
    --color-secundary: brown;
    --color-secundary-light: rgb(194, 54, 54);
    --color-secundary-dark:rgb(107, 25, 25);
    --color-grey-light: white;
    --color-grey-dark: black;
}
$bp-largest:75em;
$bp-large:68.75em;
$bp-medium: 56.25em;
$bp-small:37.5em;
$bp-smallest: 31.25em;